<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-user-circle-o"></i>
            <span class="nav-link-text">Clients</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a class="nav-link" routerLink="/clients">
                <span class="nav-link-text">Clients</span>
              </a>
            </li>
            <li>
              <a>
                <span class="nav-link-text">Client Look history</span>
              </a>
            </li>
            <li>
              <a>
                <span class="nav-link-text">Emergency PIN configuration</span>
              </a>
            </li>
            <li>
              <a>
                <span class="nav-link-text">Emergency PIN history</span>
              </a>
            </li>
          </ul>
        </li>
        
      </ul>